In [1]:
import pandas as pd

## 讀取中山區 松山區csv

In [28]:
df_song = pd.read_csv('松山區餐廳.csv', header=None)
df_chung = pd.read_csv('中山區餐廳.csv', header=None)

### 松山區:72763筆url

In [29]:
df_song.shape

(72763, 1)

### 中山區: 114696筆url

In [30]:
df_chung.shape

(114696, 1)

## 合併dataframe

In [31]:
df = pd.concat([df_song, df_chung])

In [32]:
df.shape

(187459, 1)

## 刪除重複

In [33]:
df1 = df.drop_duplicates()

In [34]:
df1.shape

(13670, 1)

## 刪除格式錯誤

In [35]:
df2 = df1[df1[0].str.contains("https://www.google.com.tw/maps/place/")]

In [36]:
df2.shape

(12006, 1)

In [37]:
list = [
    {
        "href":[1,2,3]
    }
]

In [44]:
df = pd.DataFrame(list[0])

In [45]:
df

   href
0     1
1     2
2     3