In [1]:
import pandas as pd

## 讀取csv

In [4]:
df_song = pd.read_csv('./data/url/restaurant/松山區餐廳.csv', header=None)
df_chung = pd.read_csv('./data/url/restaurant/中山區餐廳.csv', header=None)
df_weng = pd.read_csv('./data/url/restaurant/文山區餐廳.csv', header=None)
df_ne = pd.read_csv('./data/url/restaurant/內湖區餐廳.csv', header=None)
df_nan = pd.read_csv('./data/url/restaurant/南港區餐廳.csv', header=None)

In [9]:
print("松山區原始資料筆數: "+ str(df_song.shape[0]))
print("中山區原始資料筆數: "+ str(df_chung.shape[0]))
print("文山區原始資料筆數: "+ str(df_weng.shape[0]))
print("內湖區原始資料筆數: "+ str(df_ne.shape[0]))
print("南港區原始資料筆數: "+ str(df_nan.shape[0]))
print("------------------------------------------")
print("目前總資料筆數: "+ str(df_song.shape[0]+df_chung.shape[0]+df_weng.shape[0]+df_ne.shape[0]+df_nan.shape[0]))

松山區原始資料筆數: 132403
中山區原始資料筆數: 219859
文山區原始資料筆數: 222496
內湖區原始資料筆數: 154517
南港區原始資料筆數: 131391
------------------------------------------
目前總資料筆數: 860666

## 合併dataframe

In [10]:
df = pd.concat([df_song, df_chung, df_weng, df_ne, df_nan])

## 刪除重複

In [14]:
df1 = df.drop_duplicates()
print("刪除重複後總資料筆數: " + str(df1.shape[0]))

刪除重複後總資料筆數: 32394

## 刪除格式錯誤

In [17]:
df2 = df1[df1[0].str.contains("https://www.google.com.tw/maps/place/")]
print("最終總資料筆數: " + str(df2.shape[0]))

最終總資料筆數: 28864

# 讀json

In [11]:
json_list = [
    {
        "href":[1,2,3]
    }
]

In [12]:
df = pd.DataFrame(list[0])

In [13]:
df

   href
0     1
1     2
2     3