In [294]:
import pandas as pd

In [295]:
df1 = pd.read_csv("BDSE28_FinalTopic/place_info_1.csv", header=None)
df2 = pd.read_csv("BDSE28_FinalTopic/place_info_2.csv", header=None)
df3 = pd.read_csv("BDSE28_FinalTopic/place_info_3.csv", header=None)
df4 = pd.read_csv("BDSE28_FinalTopic/place_info_4.csv", header=None)
df5 = pd.read_csv("BDSE28_FinalTopic/place_info_5.csv", header=None)
df6 = pd.read_csv("BDSE28_FinalTopic/place_info_6.csv", header=None)

In [296]:
dfAll = pd.concat([df1,df2,df3,df4,df5,df6])
dfAll.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0,https://www.google.com.tw/maps/place/%E9%BB%91...,黑曜麵屋,4.1,拉麵店,379.0,$,112台北市北投區尊賢街206巷2號,Plus Code: 4G85+47 北投區 台北市,1,1,0,1,星期二、11:00 到 21:00; 星期三、11:00 到 21:00; 星期四、11:0...,https://www.facebook.com/Obsidianhouse/,0979 047 907,NaN,2022-11-22

In [297]:
# 原始資料長度
dfAll[1].shape

(58588,)

In [298]:
# 地址是空値刪掉
df7NotNa = dfAll[dfAll[7].notnull()]
df7NotNa.shape

(58312, 18)

In [299]:
# 去除非北市餐廳
dftaipei = df7NotNa[df7NotNa[7].str.contains('台北市')]
dftaipei.shape

(45118, 18)

In [300]:
# 刪除評論0
dfReview = dftaipei[dftaipei[5].notnull()]
dfReview.shape

(34849, 18)

In [301]:
# 刪除暫時關閉或永久停業,非上述兩類為值為NaN
dfStillOpen = dfReview[dfReview[16].isnull()]
dfStillOpen.shape

(33453, 18)

In [302]:
# 重複刪掉
dfNoDup = dfStillOpen[1].drop_duplicates()
dfNoDup.shape

(32902,)

## 看一下類別

In [307]:
category = dfAll[4].drop_duplicates()
category

0            拉麵店
11         中式麵食店
15            麵店
20            餐廳
23         烏冬專門店
          ...
8977          展品
9179    主題公園機動遊戲
9426      房屋驗收人員
9434         圖片社
9445       學區辦事處
Name: 4, Length: 1466, dtype: object

In [310]:
category.to_csv("category.csv",sep=',')`

In [319]:
df = pd.read_csv("category.csv")
df

      Unnamed: 0         4
0              0       拉麵店
1             11     中式麵食店
2             15        麵店
3             20        餐廳
4             23     烏冬專門店
...          ...       ...
1461        8977        展品
1462        9179  主題公園機動遊戲
1463        9426    房屋驗收人員
1464        9434       圖片社
1465        9445     學區辦事處

[1466 rows x 2 columns]