In [7]:
import pandas as pd

In [8]:
df1 = pd.read_csv("清整後的資料/place_info_1.csv", header=None)
df2 = pd.read_csv("清整後的資料/place_info_2.csv", header=None)
df3 = pd.read_csv("清整後的資料/place_info_3.csv", header=None)
df4 = pd.read_csv("清整後的資料/place_info_4.csv", header=None)
df5 = pd.read_csv("清整後的資料/place_info_5.csv", header=None)
df6 = pd.read_csv("清整後的資料/place_info_6.csv", header=None)

In [9]:
dfAll = pd.concat([df1,df2,df3,df4,df5,df6])
dfAll.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0,https://www.google.com.tw/maps/place/%E9%BB%91...,黑曜麵屋,4.1,拉麵店,379.0,$,112台北市北投區尊賢街206巷2號,Plus Code: 4G85+47 北投區 台北市,1,1,0,1,星期二、11:00 到 21:00; 星期三、11:00 到 21:00; 星期四、11:0...,https://www.facebook.com/Obsidianhouse/,0979 047 907,NaN,2022-11-22

In [10]:
# 原始資料長度
dfAll[1].shape

(58588,)

In [11]:
# 地址是空値刪掉
df7NotNa = dfAll[dfAll[7].notnull()]
df7NotNa.shape

(58312, 18)

In [12]:
# 去除非北市餐廳
dftaipei = df7NotNa[df7NotNa[7].str.contains('台北市')]
dftaipei.shape

(45118, 18)

In [13]:
# 刪除評論0
dfReview = dftaipei[dftaipei[5].notnull()]
dfReview.shape

(34849, 18)

In [14]:
# 刪除暫時關閉或永久停業,非上述兩類為值為NaN
dfStillOpen = dfReview[dfReview[16].isnull()]
dfStillOpen.shape

(33453, 18)

In [15]:
# 指定第一欄位的重複刪掉,並返回dataFrame
dfNoDup = dfStillOpen.drop_duplicates(subset=[1])
dfNoDup.shape

(32902, 18)

## 看一下類別

In [16]:
category = dfNoDup[4].drop_duplicates()
category.shape

(1209,)

In [17]:
category.to_csv("category.csv",sep=',')

In [12]:
df = pd.read_csv("category.csv")
df

      Unnamed: 0         4
0              0       拉麵店
1             11     中式麵食店
2             15        麵店
3             20        餐廳
4             23     烏冬專門店
...          ...       ...
1204        8563      醫療中心
1205        8863       修道院
1206        9103        賓館
1207        9179  主題公園機動遊戲
1208        9434       圖片社

[1209 rows x 2 columns]

## 篩完不必要的類別後剩下的餐廳

In [18]:
dfFilter = pd.read_csv("篩完類別後的餐廳/place_info_classification.csv")
pd.set_option('max_colwidth',40)
print(dfFilter.shape)
dfFilter.head(2)

(22883, 17)

,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,to_go_2,delivery,opening_hours,website,phone,close,place_acquisition_date
0,https://www.google.com.tw/maps/place...,黑曜麵屋,4.1,拉麵店,379.0,$,112台北市北投區尊賢街206巷2號,Plus Code: 4G85+47 北投區 台北市,1,1,0,1,星期二、11:00 到 21:00; 星期三、11:00 到 21:00...,https://www.facebook.com/Obsidianhouse/,0979 047 907,NaN,2022-11-22
1,https://www.google.com.tw/maps/place...,樂山窄巷拉麵,4.1,拉麵店,1681.0,$$,112台北市北投區大同街27號,Plus Code: 4FMX+5J 北投區 台北市,1,1,0,0,星期二、11:00 到 14:30、17:00 到 20:30; 星期三...,https://www.facebook.com/rakuzan428/,02 2892 6265,NaN,2022-11-22

In [19]:
# 把district 欄位經緯度與中文字分開,並新增欄位至原始df裡
dfFilter["Plus Code"] = dfFilter["district"].str.split(" ").str.get(2)
dfFilter["districtC"] = dfFilter["district"].str.split(" ").str.get(3)
dfFilter.head(2)

,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,to_go_2,delivery,opening_hours,website,phone,close,place_acquisition_date,Plus Code,districtC
0,https://www.google.com.tw/maps/place...,黑曜麵屋,4.1,拉麵店,379.0,$,112台北市北投區尊賢街206巷2號,Plus Code: 4G85+47 北投區 台北市,1,1,0,1,星期二、11:00 到 21:00; 星期三、11:00 到 21:00...,https://www.facebook.com/Obsidianhouse/,0979 047 907,NaN,2022-11-22,4G85+47,北投區
1,https://www.google.com.tw/maps/place...,樂山窄巷拉麵,4.1,拉麵店,1681.0,$$,112台北市北投區大同街27號,Plus Code: 4FMX+5J 北投區 台北市,1,1,0,0,星期二、11:00 到 14:30、17:00 到 20:30; 星期三...,https://www.facebook.com/rakuzan428/,02 2892 6265,NaN,2022-11-22,4FMX+5J,北投區

## columns 0 google_url

In [20]:
# 確認有無重複
# 結論:總數共22884row ,去除網址重複也是22884, 網址已無重複
df0 = dfFilter.drop_duplicates(subset="google_url").shape
df0

(22883, 19)

## columns 1 place_name

In [21]:
dfFilter["place_name"].shape

(22883,)

In [22]:
# 確認有無重複
# 結論: 去除同名餐廳且地址相同的剩22832,  有誤!! ,所以是同一間店但網址卻不同 ?
df1_1 = dfFilter.drop_duplicates(subset=["place_name","address"])
df1_1.shape

(22832, 19)

In [24]:
# 把重複的取出,在合併原始dataFrame,並列出url查看是否相同
# 結論: 確實同名餐廳且地址相同,網址不一樣,但點進去是同樣的頁面
df1_2 = dfFilter[dfFilter.duplicated(subset=["place_name","address"])].drop_duplicates(subset=["place_name","address"])[["place_name","address"]] # 51筆"place_name","address" 重複
df1_3 = pd.merge(df1_2,dfFilter, on=["place_name","address"] , how="left")  # 合併,才能比對
pd.set_option('max_colwidth',300) # 讓欄位內容變大
# df2[["google_url","place_name"]]
df1_3["google_url"] #兩兩點進去查看  ex [0和1 ,2和3 ,4和5....]

0                                        https://www.google.com.tw/maps/place/%E9%98%BF%E8%8A%B3%E8%B6%8A%E5%8D%97%E9%A3%9F+FUN'S+Vietnam+Bistro/data=!4m7!3m6!1s0x3442ae51dedf4ca5:0x3020946331fdca2c!8m2!3d25.136337!4d121.499213!16s%2Fg%2F11f0949t7y!19sChIJpUzf3lGuQjQRLMr9MWOUIDA?authuser=0&hl=zh-TW&rclk=1
1                                                                                                   https://www.google.com.tw/maps/place/Sai+Gon/data=!4m7!3m6!1s0x3442af647713cdbb:0xbf74865e41bfc9ef!8m2!3d25.136337!4d121.499213!16s%2Fg%2F11gxwrh0c4!19sChIJu80Td2SvQjQR78m_QV6GdL8?authuser=0&hl=zh-TW&rclk=1
2                                        https://www.google.com.tw/maps/place/%E4%B8%89%E5%95%86%E5%B7%A7%E7%A6%8F+%E7%9F%B3%E7%89%8C%E5%BA%97/data=!4m7!3m6!1s0x3442af22b8999d47:0x15ec31d6db337cf8!8m2!3d25.1159934!4d121.5154321!16s%2Fg%2F11rqxs6k2_!19sChIJR52ZuCKvQjQR-Hwz29Yx7BU?authuser=0&hl=zh-TW&rclk=1
3                               https://www.google.com.tw/maps/place/%E4%B8%89%E5%95%86%E5%B7%A7%E7%A6%8F+%E7%9F%B3%E7%89%8C%E9%96%80%E5%B8%82/data=!4m7!3m6!1s0x3442af22b8999d47:0x15ec31d6db337cf8!8m2!3d25.1159934!4d121.5154321!16s%2Fg%2F11rqxs6k2_!19sChIJR52ZuCKvQjQR-Hwz29Yx7BU?authuser=0&hl=zh-TW&rclk=1
4                                                                                                 https://www.google.com.tw/maps/place/Lay+Back/data=!4m7!3m6!1s0x3442abf6f58f7649:0xddbb79905d2e2e73!8m2!3d25.032668!4d121.5534315!16s%2Fg%2F11ftwnhxhd!19sChIJSXaP9farQjQRcy4uXZB5u90?authuser=0&hl=zh-TW&rclk=1
                                                                                                                                                          ...
96                                                                                   https://www.google.com.tw/maps/place/Celeste+Noodle+House/data=!4m7!3m6!1s0x3442aa28b2cf34ff:0xc375f04384600024!8m2!3d25.0216312!4d121.5427551!16s%2Fg%2F11b63w23j2!19sChIJ_zTPsiiqQjQRJABghEPwdcM?authuser=0&hl=zh-TW&rclk=1
97                                             https://www.google.com.tw/maps/place/%E9%86%89%E7%BE%8E%E9%A4%90%E9%85%92%E9%A4%A8+Drunk+Night+./data=!4m7!3m6!1s0x3442ab3788eb6527:0xf48749d98dc46a75!8m2!3d25.032523!4d121.5526099!16s%2Fg%2F11s34g27th!19sChIJJ2XriDerQjQRdWrEjdlJh_Q?authuser=0&hl=zh-TW&rclk=1
98                           https://www.google.com.tw/maps/place/%E9%86%89%E7%BE%8E%E9%A4%90%E9%85%92%E6%B0%B4%E7%85%99%E9%A4%A8+Drunk+Night+./data=!4m7!3m6!1s0x3442ab3788eb6527:0xf48749d98dc46a75!8m2!3d25.032523!4d121.5526099!16s%2Fg%2F11s34g27th!19sChIJJ2XriDerQjQRdWrEjdlJh_Q?authuser=0&hl=zh-TW&rclk=1
99     https://www.google.com.tw/maps/place/%E8%8C%B6%E5%A5%B6%E5%A3%AB%E5%A4%9A+%E9%8D%8B%E7%85%AE%E9%AE%AE%E5%A5%B6%E8%8C%B6%E5%B0%88%E8%B3%A3%E5%BA%97+%E6%9D%BE%E5%B1%B1%E5%BA%97/data=!4m7!3m6!1s0x3442ab51b3b2a255:0xe415f2d1c7ca5c92!8m2!3d25.0380073!4d121.5780164!16s%2Fg%2F11lkthmg03!19sChIJVaKys1Gr...
100    https://www.google.com.tw/maps/place/%E8%8C%B6%E5%A5%B6%E5%A3%AB%E5%A4%9A+%E9%8D%8B%E7%85%AE%E9%AE%AE%E5%A5%B6%E8%8C%B6%E5%B0%88%E8%B3%A3%E5%BA%97+%E6%9D%BE%E5%B1%B1%E5%BA%97-%E4%BF%A1%E7%BE%A9%E5%BF%85%E5%96%9D%E9%A3%B2%E6%96%99%7C%E5%A4%96%E9%80%81%E9%A3%B2%E6%96%99%E6%8E%A8%E8%96%A6%7C%E6%8E%...
Name: google_url, Length: 101, dtype: object

In [ ]:
# pd.set_option('max_colwidth', 400)
# pd.set_option('max_colwidth',20)
# df1[df1["place_name"].str.contains("修")]["google_url"]
# df1[df1["place_name"].str.contains("車")]

## columns 2 total_rating

In [25]:
# 查看所有 rating 的個數,
# 結論: rating在3以下的不多,所以不抓也無所謂
df2_1 = dfFilter.groupby('total_rating').size()
df2_1

total_rating
1.1       4
1.3       2
1.4       6
1.5       4
1.6       3
1.7       8
1.8       7
1.9       7
2.0      15
2.1      25
2.2      16
2.3      33
2.4      39
2.5      55
2.6      36
2.7      60
2.8      76
2.9     105
3.0     131
3.1     147
3.2     211
3.3     273
3.4     352
3.5     497
3.6     665
3.7     826
3.8    1068
3.9    1416
4.0    1756
4.1    2087
4.2    2227
4.3    2161
4.4    1950
4.5    1665
4.6    1380
4.7    1210
4.8    1058
4.9     809
5.0     493
dtype: int64

In [26]:
# rating > 3 的共有22251筆
df2_2 = dfFilter[dfFilter['total_rating']>3]
print(df2_2.shape)

# rating的分布
# 結論: 主要集中在4分左右
df2_2.groupby('total_rating').size()

(22251, 19)

total_rating
3.1     147
3.2     211
3.3     273
3.4     352
3.5     497
3.6     665
3.7     826
3.8    1068
3.9    1416
4.0    1756
4.1    2087
4.2    2227
4.3    2161
4.4    1950
4.5    1665
4.6    1380
4.7    1210
4.8    1058
4.9     809
5.0     493
dtype: int64

In [27]:
# 查看所爬出來的店家分布的狀況
# 結論: 汐止只有一間餐廳有點奇怪
dfFilter.groupby("districtC").size()

districtC
中山區    2459
中正區    1534
信義區    2317
內湖區    1924
北投區    1494
南港區     884
士林區    2119
大同區    1512
大安區    3494
文山區    1476
松山區    2111
汐止區       1
萬華區    1558
dtype: int64

In [28]:
# 真的只有一間..........
dfFilter[dfFilter["district"].str.contains("汐止")]["place_name"]

5531    韓堂-韓國小吃
Name: place_name, dtype: object

In [29]:
# rating>3 的分布
# 結論: >3 最多的區是大安區,最少的是汐止,除去汐止最少的是南港
pd.options.display.max_rows = 999
# df2_3 = df2_2.groupby(['districtC','total_rating']).size()
df2_3 = df2_2.groupby(['districtC']).size()
df2_3

districtC
中山區    2421
中正區    1480
信義區    2243
內湖區    1871
北投區    1453
南港區     844
士林區    2040
大同區    1457
大安區    3429
文山區    1437
松山區    2067
汐止區       1
萬華區    1508
dtype: int64

In [30]:
# rating>4 的分布
# 結論: >4 最多的區是大安區,汐止不見了,最少的是南港
df2_4 = dfFilter[dfFilter['total_rating']>4]
df2_4.groupby(['districtC']).size()

districtC
中山區    1755
中正區     943
信義區    1557
內湖區    1193
北投區     941
南港區     494
士林區    1339
大同區     953
大安區    2502
文山區     904
松山區    1446
萬華區    1013
dtype: int64

In [31]:
# rating=5 的分布
# 結論: ==5 最多的區是大安區,汐止不見了,最少的是南港
df2_5 = dfFilter[dfFilter['total_rating']==5]
df2_5.groupby(['districtC']).size()

districtC
中山區    38
中正區    17
信義區    54
內湖區    40
北投區    24
南港區    15
士林區    45
大同區    44
大安區    89
文山區    26
松山區    54
萬華區    47
dtype: int64

## columns 3 place_category

In [40]:
# 查看種類的分布
# 結論: 最多的類別是"餐廳"
df3_1 = dfFilter.groupby("place_category").size().describe()
df3_1

count     238.000000
mean       96.147059
std       317.221986
min         1.000000
25%         3.000000
50%        15.000000
75%        54.000000
max      3893.000000
dtype: float64

In [41]:
df3_2 = dfFilter.groupby("place_category").size()
print(df3_2[df3_2==3893])

place_category
餐廳    3893
dtype: int64

In [42]:
# 顯示全部的類別個數
df3_3 = dfFilter.groupby("place_category").size()
df3_3

place_category
三文治店                32
中式包點店              206
中式糕餅店               46
中式茶館                41
中式麵食店              469
中東餐廳                 5
中菜                   3
中菜外賣                 9
中菜館                 90
中餐館                685
串燒烤肉店               31
亞洲  Fusion 菜餐廳       6
亞洲菜餐廳               54
京菜/北京菜館             16
京都風味日式餐廳             2
什錦麵館                 7
俄國餐廳                 1
保加利亞餐廳               2
健康食品專賣店             56
健康食品餐廳              51
傳統美式餐廳               2
冬甩店                 32
冰品飲料店              636
冷麵店                110
加勒比海餐廳               1
加州餐廳                 7
北意大利餐廳               1
南部菜餐廳 (美國)           1
卡拉 OK 酒吧            24
印尼餐廳                10
印度餐廳                48
台灣餐廳               550
吐司餐廳                 4
和菓子餐廳                4
咖啡店                964
咖啡廳               1143
啤酒館                  5
四川酒家                50
土耳其餐廳                2
地中海餐廳                8
墨西哥餐廳               10
壽司外帶                 8
壽司店                119
壽喜燒和日式火鍋餐廳          35
壽喜燒餐廳                7
夏威夷蓋飯專賣店             6
夏威夷餐廳               11
外賣自取餐廳              33
外送速遞餐廳              48
多國菜餐廳               17
夜市                  36
天婦羅丼餐廳               3
天婦羅餐廳                3
天然食品店               35
客家菜館                44
家常菜餐廳               26
家庭餐廳                15
寵物用品店               24
小吃店                221
小食/零食吧               3
小餐館 (Bistro)       140
居酒屋                177
巧克力咖啡館               1
巴基斯坦餐廳               1
希臘餐廳                 4
御好燒餐廳                3
德國餐廳                10
快餐店                221
意大利餐廳              275
意大利麵食店              53
愛心食堂                 2
懷石料理餐廳               4
拉丁美洲餐廳               3
拉麵店                227
捷克餐廳                 1
摩洛哥餐廳                1
擔擔麵專門店              22
文字燒餐廳                1
新加坡餐廳               24
新奧爾良餐廳               1
新派拉丁餐廳               1
日式串燒餐廳               8
日式咖哩餐廳             121
日式炒麵餐廳               2
日式炸豬扒餐廳             57
日式烤雞串餐廳             52
日式燒肉餐廳             128
日式牛扒餐廳               2
日式牛舌餐廳               1
日式糖果店               11
日式西餐廳               14
日本地方料理餐廳            20
日本熟食店                6
日本餐廳               536
早午餐餐廳              727
早餐餐廳              1199
曲奇餅店                19
有機餐廳                 4
朱古力店                30
東南亞餐廳               16
果汁店                 52
柬埔寨餐廳                2
歐洲餐廳                10
歐陸餐廳                18
正宗日式料理餐廳            42
比利時餐廳                1
水煙壺吧                 9
沙威瑪餐廳                3
法國餐廳                31
法式牛扒餐廳               3
法式糕餅店               44
法式薄餅餐廳              12
法式餐廳                16
泰國餐廳               196
浙菜/浙江菜館             13
海鮮丼餐廳               16
海鮮餐廳               169
涮涮鍋餐廳               96
清真餐廳                 7
港式快餐店               79
港式茶餐廳               12
湘菜館                 16
湯品餐廳                 7
湯羹餐廳                 3
滬菜館                 42
漢堡餐廳                50
潛艇漢堡餐廳              34
澳洲餐廳                 3
火鍋餐廳               682
炸物串與串炸餐廳           135
炸魚薯條餐廳               1
烏冬專門店               31
烤雞速食店               28
無酒精飲料店              71
煎餅料理餐廳               8
熟食店               1691
燒烤                  30
燒烤餐廳                52
牛丼餐廳                56
狗兒咖啡館                2
珍珠奶茶店              158
班戟店                 15
現代印度餐廳               4
現代居酒屋               23
現代歐洲餐廳              12
現代法國餐廳               7
現代美式餐廳              24
現場音樂酒吧               9
甜品店                518
甜品餐廳               138
生蠔吧餐廳                4
盒餐餐廳                 3
科夫塔肉丸餐廳              1
秘魯餐廳                 1
章魚燒餐廳               10
粥餐廳                 93
粵菜館                 73
糕餅店                 62
糖果店                  9
純素餐廳               145
素食餐廳               366
緬甸餐廳                 1
羊肉燒烤餐廳               2
美式墨西哥菜餐廳             7
美式扒房                70
美式牛扒屋              121
美式餐廳                90
美式餐車店               15
美食廣場                34
義大利皮埃蒙特風味餐廳          1
義大利薩丁尼亞風味餐廳          2
自助餐廳                45
自助餐餐廳               56
芝士專賣店                2
英國餐廳                 1
英式餐廳                 2
英式高級酒吧               2
茶藝館                 60
菲律賓餐廳                2
葡萄牙餐廳                1
葡萄酒吧                12
葷食餐廳                 4
蒙古烤肉餐廳               2
蒸氣船餐廳                1
蕎麥麵店                 1
薄餅外賣自取              43
薄餅速遞                21
薄餅餐廳                80
藏式餐廳                 2
蘇菜/江蘇菜館              2
螃蟹餐廳                 2
融合菜式餐廳               4
西班牙小食酒吧              4
西班牙小食餐廳              1
西班牙餐廳               14
西餅店                111
西餐廳                 64
角色扮演咖啡廳              8
豆腐餐廳                 3
越南餐廳               153
越式河粉餐廳              31
輕食餐廳                59
辣妹酒吧                 1
農家菜館                 4
迴轉壽司餐廳              53
運動酒吧                 7
酒吧                 370
酒吧扒房                26
酒吧雅座                13
酒店                   5
酒廠酒吧                 3
酒樓                  48
鋼琴酒吧                 2
鐵板燒餐廳              168
長壽飲食餐廳               8
關東煮餐廳               15
阿根廷餐廳                2
雞尾酒酒吧               35
雞肉餐廳                85
雪糕店                 77
韓國餐廳               289
韓式燒烤餐廳              54
韓式牛肉料理餐廳             2
飛鏢酒吧                 5
食堂與定食餐廳             87
餃子店                288
餐廳                3893
餡餅店                 14
馬來西亞餐廳              19
高級法國餐廳               1
高級餐廳                12
魚料理餐廳                5
鮑魚餐廳                 1
鰻魚料理餐廳              17
鱉料理餐廳                1
鲁菜/山東菜館              5
麵包圈店                12
麵店                 429
dtype: int64

## columns 4 total_reviews

In [43]:
# 總評論有10452566
df4_1 = dfFilter["total_reviews"].sum(axis=0)
df4_1

10452566.0

In [44]:
# 篩選評論數大於100的店家
# 結論: 只剩14734家餐廳
df4_2 = dfFilter["total_reviews"]>100
df4_3 = dfFilter[df4_2]["place_name"]
df4_3

0                     黑曜麵屋
1                   樂山窄巷拉麵
2                    日本拉麵屋
3        荷麵亭Hasumentei 北投店
4            らあめん花月嵐 北投石牌店
               ...
22861       五桐號WooTEA(虎林店)
22866        李師傅羹大王(虎林創始店)
22875        綺夢 Lounge Bar
22879            七分飽手作健康餐盒
22881                  豆味行
Name: place_name, Length: 14734, dtype: object

## columns 5 cost

In [45]:
# 沒啥好研究的,全空
df5_1 = dfFilter["cost"].dropna()
df5_1

0         $
1        $$
2         $
4        $$
9        $$
         ..
22858     $
22866     $
22872     $
22881     $
22882     $
Name: cost, Length: 11405, dtype: object

## columns 8 eat_in

In [46]:
# 可內用的餐廳
# 結論: 共19867
df8_1 = dfFilter['eat_in']==1
df8_2 = dfFilter[df8_1]["place_name"]
df8_2

0                     黑曜麵屋
1                   樂山窄巷拉麵
2                    日本拉麵屋
3        荷麵亭Hasumentei 北投店
4            らあめん花月嵐 北投石牌店
               ...
22877              姚記麵線。油飯
22878              飯點台式自助餐
22879            七分飽手作健康餐盒
22880            寶玉牛肉麵&自助餐
22881                  豆味行
Name: place_name, Length: 19867, dtype: object

## columns 9 to_go_1

In [47]:
# 可外帶的餐廳
# 結論: 共18602
df9_1 = dfFilter['to_go_1']==1
df9_2 = dfFilter[df9_1]["place_name"]
df9_2

0                     黑曜麵屋
1                   樂山窄巷拉麵
2                    日本拉麵屋
3        荷麵亭Hasumentei 北投店
5                    滿客屋拉麵
               ...
22878              飯點台式自助餐
22879            七分飽手作健康餐盒
22880            寶玉牛肉麵&自助餐
22881                  豆味行
22882          碳烤赤肉胡椒餅蔥花燒餅
Name: place_name, Length: 18602, dtype: object

## columns 10 to_go_2

In [48]:
# 可路邊取餐的餐廳
# 結論: 共2693
df10_1 = dfFilter['to_go_2']==1
df10_2 = dfFilter[df10_1]["place_name"]
df10_2

4                 らあめん花月嵐 北投石牌店
9                          拉麵公子
24                         道樂商店
39                       尾田家オダヤ
45                     山嵐拉麵 公館店
                  ...
22860                      街亭小吃
22864                   虎林炸雞蔥抓餅
22866             李師傅羹大王(虎林創始店)
22874    Ascent爾聖德～預約料理包自取外送服務點
22877                   姚記麵線。油飯
Name: place_name, Length: 2693, dtype: object

## columns 11 delivery

In [49]:
# 可外送的餐廳
# 結論: 共10506
df11_1 = dfFilter['delivery']==1
df11_2 = dfFilter[df11_1]["place_name"]
df11_2

0                          黑曜麵屋
4                 らあめん花月嵐 北投石牌店
11                  志明牛肉拉麵 北投總店
13                       厚恩創意拉麵
14                       豚將日本拉麵
                  ...
22871                   冰鎮滷味王之家
22874    Ascent爾聖德～預約料理包自取外送服務點
22877                   姚記麵線。油飯
22879                 七分飽手作健康餐盒
22881                       豆味行
Name: place_name, Length: 10506, dtype: object

## columns 12 opening_hours

In [50]:
df12_1 = dfFilter["opening_hours"].fillna(value="0、0;0、0;0、0;0、0;0、0;0、0;0、0")  # 下面切割用';',不補0;0 切割會報錯
df12_1.head(11)  # 第10row有Nan

0     星期二、11:00 到 21:00; 星期三、11:00 到 21:00...
1     星期二、11:00 到 14:30、17:00 到 20:30; 星期三...
2     星期二、11:30 到 14:00、17:00 到 21:00; 星期三...
3     星期二、11:40 到 14:30、17:10 到 20:30; 星期三...
4     星期二、11:00 到 22:00; 星期三、11:00 到 22:00...
5     星期二、11:00 到 14:00、17:00 到 20:00; 星期三...
6     星期二、11:30 到 20:30; 星期三、11:30 到 20:30...
7     星期二、17:00 到 01:00; 星期三、17:00 到 01:00...
8     星期二、11:30 到 13:30、17:00 到 20:30; 星期三...
9                 0、0;0、0;0、0;0、0;0、0;0、0;0、0
10    星期二、11:30 到 14:00、16:30 到 22:00; 星期三...
Name: opening_hours, dtype: object

In [51]:
# 他們在搞...,會 index out of range 所以要先改掉,格式錯誤
print(list(df12_1)[5993])
print(list(df12_1)[14255])
print(list(df12_1)[15686])

星期五晚上時段大概幾點就賣完
星期五美式餐廳（美麗華）
星期六都休息嗎？為何營業時間寫星期六？

In [52]:
# 補0代表原格式錯誤,或是本來是NaN
df12_1[5993] = "0、0;0、0;0、0;0、0;0、0;0、0;0、0"
df12_1[14255] = "0、0;0、0;0、0;0、0;0、0;0、0;0、0"
df12_1[15686] = "0、0;0、0;0、0;0、0;0、0;0、0;0、0"

In [53]:
# 原Series先用';'分割
df12_2 = df12_1.str.split(';')
df12_2.head(11)

0     [星期二、11:00 到 21:00,  星期三、11:00 到 21:...
1     [星期二、11:00 到 14:30、17:00 到 20:30,  星...
2     [星期二、11:30 到 14:00、17:00 到 21:00,  星...
3     [星期二、11:40 到 14:30、17:10 到 20:30,  星...
4     [星期二、11:00 到 22:00,  星期三、11:00 到 22:...
5     [星期二、11:00 到 14:00、17:00 到 20:00,  星...
6     [星期二、11:30 到 20:30,  星期三、11:30 到 20:...
7     [星期二、17:00 到 01:00,  星期三、17:00 到 01:...
8     [星期二、11:30 到 13:30、17:00 到 20:30,  星...
9         [0、0, 0、0, 0、0, 0、0, 0、0, 0、0, 0、0]
10    [星期二、11:30 到 14:00、16:30 到 22:00,  星...
Name: opening_hours, dtype: object

In [54]:
# 先把dfFilter["opening_hours"]取出,並把Series轉成list,選取每個list的元素,並用 '、'分割
# 再append回空list裡,再轉成Series增加新column回原df

# 星期二的營業時間
# tuesdayList = []
# for i in range(len(list(df12_2))):
#     tuesdayList.append(list(df12_2)[i][0].split("、")[1])
# tuesdaySeries = pd.Series(tuesdayList)
# tuesdaySeries

In [55]:
# 增加星期一~星期日營業時間的欄位至原始DF裡
tuesdayList   = []
wednesdayList = []
thursdayList  = []
fridayList    = []
saturdayList  = []
sundayList    = []
mondayList    = []
for i in range(len(list(df12_2))):
    for j in range(len(list(df12_2)[i])):   
        if j == 0:
            if len(list(df12_2)[i][j].split("、")) == 3:
                tuesdayList.append(list(df12_2)[i][j].split("、")[1] + "," + list(df12_2)[1][0].split("、")[2])
            else:
                tuesdayList.append(list(df12_2)[i][j].split("、")[1])
        elif j == 1:
            if len(list(df12_2)[i][j].split("、")) == 3:
                wednesdayList.append(list(df12_2)[i][j].split("、")[1] + "," + list(df12_2)[1][0].split("、")[2])
            else:
                wednesdayList.append(list(df12_2)[i][j].split("、")[1])
        elif j == 2:
            if len(list(df12_2)[i][j].split("、")) == 3:
                thursdayList.append(list(df12_2)[i][j].split("、")[1] + "," + list(df12_2)[1][0].split("、")[2])
            else:
                thursdayList.append(list(df12_2)[i][j].split("、")[1])
        elif j == 3:
            if len(list(df12_2)[i][j].split("、")) == 3:
                fridayList.append(list(df12_2)[i][j].split("、")[1] + "," + list(df12_2)[1][0].split("、")[2])
            else:
                fridayList.append(list(df12_2)[i][j].split("、")[1])
            
        elif j == 4:
            if len(list(df12_2)[i][j].split("、")) == 3:
                saturdayList.append(list(df12_2)[i][j].split("、")[1] + "," + list(df12_2)[1][0].split("、")[2])
            else:
                saturdayList.append(list(df12_2)[i][j].split("、")[1])
            
        elif j == 5:
            if len(list(df12_2)[i][j].split("、")) == 3:
                sundayList.append(list(df12_2)[i][j].split("、")[1] + "," + list(df12_2)[1][0].split("、")[2])
            else:
                sundayList.append(list(df12_2)[i][j].split("、")[1])
            
        else:
            # 刪去'隱藏本週營業時間'
            a = list(df12_2)[i][j].replace(".","、").split("、")
            if len(a) == 4:
                mondayList.append(a[1] + "," + a[2])
            else:
                mondayList.append(a[1])
            
# tuesdaySeries   = pd.Series(tuesdayList)            
# wednesdaySeries = pd.Series(wednesdayList)
# thursdaySeries  = pd.Series(thursdayList)
# fridaySeries    = pd.Series(fridayList)
# saturdaySeries  = pd.Series(saturdayList)
# sundaySeries    = pd.Series(sundayList)
# mondaySeries    = pd.Series(mondayList)

dfFilter["Tuesday"]   = pd.Series(tuesdayList) 
dfFilter["Wednesday"] = pd.Series(wednesdayList)
dfFilter["Thursday"]  = pd.Series(thursdayList)
dfFilter["Friday"]    = pd.Series(fridayList)
dfFilter["Saturday"]  = pd.Series(saturdayList)
dfFilter["Sunday"]    = pd.Series(sundayList)
dfFilter["Monday"]    = pd.Series(mondayList)

In [56]:
pd.set_option('display.max_colwidth',40)
pd.set_option('display.max_columns',999)
dfFilter.head(5)

,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,to_go_2,delivery,opening_hours,website,phone,close,place_acquisition_date,Plus Code,districtC,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday
0,https://www.google.com.tw/maps/place...,黑曜麵屋,4.1,拉麵店,379.0,$,112台北市北投區尊賢街206巷2號,Plus Code: 4G85+47 北投區 台北市,1,1,0,1,星期二、11:00 到 21:00; 星期三、11:00 到 21:00...,https://www.facebook.com/Obsidianhouse/,0979 047 907,NaN,2022-11-22,4G85+47,北投區,11:00 到 21:00,11:00 到 21:00,11:00 到 21:00,11:00 到 21:00,11:00 到 21:00,11:00 到 21:00,11:00 到 21:00
1,https://www.google.com.tw/maps/place...,樂山窄巷拉麵,4.1,拉麵店,1681.0,$$,112台北市北投區大同街27號,Plus Code: 4FMX+5J 北投區 台北市,1,1,0,0,星期二、11:00 到 14:30、17:00 到 20:30; 星期三...,https://www.facebook.com/rakuzan428/,02 2892 6265,NaN,2022-11-22,4FMX+5J,北投區,"11:00 到 14:30,17:00 到 20:30","11:00 到 14:30,17:00 到 20:30","11:00 到 14:30,17:00 到 20:30","11:00 到 14:30,17:00 到 20:30","11:00 到 14:15,17:00 到 20:30","11:00 到 14:15,17:00 到 20:30","11:00 到 14:30,17:00 到 20:30"
2,https://www.google.com.tw/maps/place...,日本拉麵屋,4.0,拉麵店,310.0,$,112台北市北投區中和街303號,Plus Code: 4FRX+7X 北投區 台北市,1,1,0,0,星期二、11:30 到 14:00、17:00 到 21:00; 星期三...,http://keeat.pixnet.net/blog/post/44...,02 2893 4585,NaN,2022-11-22,4FRX+7X,北投區,"11:30 到 14:00,17:00 到 20:30","11:30 到 14:00,17:00 到 20:30","11:30 到 14:00,17:00 到 20:30","11:30 到 14:00,17:00 到 20:30","11:30 到 14:00,17:00 到 20:30","11:30 到 14:00,17:00 到 20:30",休息
3,https://www.google.com.tw/maps/place...,荷麵亭Hasumentei 北投店,4.4,拉麵店,245.0,NaN,112台北市北投區育仁路45號,Plus Code: 4FMX+95 北投區 台北市,1,1,0,0,星期二、11:40 到 14:30、17:10 到 20:30; 星期三...,https://www.facebook.com/HASUMENTEI,02 2898 2565,NaN,2022-11-22,4FMX+95,北投區,"11:40 到 14:30,17:00 到 20:30","11:40 到 14:30,17:00 到 20:30",休息,"11:40 到 14:30,17:00 到 20:30","11:40 到 14:30,17:00 到 20:30","11:40 到 14:30,17:00 到 20:30","11:40 到 14:30,17:10 到 20:30"
4,https://www.google.com.tw/maps/place...,らあめん花月嵐 北投石牌店,3.3,拉麵店,328.0,$$,112台北市北投區石牌路二段122號,Plus Code: 4G98+4W 北投區 台北市,1,0,1,1,星期二、11:00 到 22:00; 星期三、11:00 到 22:00...,https://www.kagetsu.com.tw/,02 2822 0228,NaN,2022-11-22,4G98+4W,北投區,11:00 到 22:00,11:00 到 22:00,11:00 到 22:00,11:00 到 22:00,11:00 到 22:00,11:00 到 22:00,11:00 到 22:00

## 清整完存成csv

In [67]:
dfFilter.to_csv('初步分析後的df/place_info_dataClean.csv')

## columns 12 opening_hours	 測試用

In [ ]:
list(df12_2)

In [ ]:
# 一一檢查 dfFilter["opening_hours"] 哪rows格式錯誤
tuesdayList = []
for i in range(5993):
    tuesdayList.append(list(df12_2)[i][0].split('、')[1])

In [ ]:
# 一一檢查 dfFilter["opening_hours"] 哪rows格式錯誤
for i in range(5994,14255):
    tuesdayList.append(list(df12_2)[i][0].split('、')[1])

In [ ]:
# 一一檢查 dfFilter["opening_hours"] 哪rows格式錯誤
for i in range(14256,15686):
    tuesdayList.append(list(df12_2)[i][0].split('、')[1])

In [ ]:
# 一一檢查 dfFilter["opening_hours"] 哪rows格式錯誤
for i in range(15687,22883):
    tuesdayList.append(list(df12_2)[i][0].split('、')[1])

In [ ]:
# 為何不能用',' 分割 ? 
df12_3 = df12_2.str.split(",")

In [ ]:
dfFilter.columns