In [2]:
import pandas as pd
import re
import numpy as np

## 篩完不必要的類別後剩下的餐廳

In [5]:
dfFilter = pd.read_csv("Data/raw_data/restaurant/place_info/篩完類別後的餐廳/place_info_final_3.csv")
pd.set_option('max_colwidth',40)
pd.set_option('display.max_columns',40)
print(dfFilter.shape)
dfFilter.head(2)

(25145, 20)

,Unnamed: 0,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,to_go_2,delivery,opening_hours,website,phone,close,place_acquisition_date,file_name_1,file_name_2
0,0,https://www.google.com.tw/maps/place...,黑曜麵屋,4.1,拉麵店,379.0,$,112台北市北投區尊賢街206巷2號,Plus Code: 4G85+47 北投區 台北市,1,1,0,1,星期二、11:00 到 21:00; 星期三、11:00 到 21:00...,https://www.facebook.com/Obsidianhouse/,0979 047 907,NaN,2022-11-22,0,0_黑曜麵屋
1,1,https://www.google.com.tw/maps/place...,樂山窄巷拉麵,4.1,拉麵店,1681.0,$$,112台北市北投區大同街27號,Plus Code: 4FMX+5J 北投區 台北市,1,1,0,0,星期二、11:00 到 14:30、17:00 到 20:30; 星期三...,https://www.facebook.com/rakuzan428/,02 2892 6265,NaN,2022-11-22,1,1_樂山窄巷

## Add column ,name "New district"

In [6]:
dfFilter["New district"] = dfFilter["district"].str.split(" ").str.get(3)
dfFilter.head(2)

,Unnamed: 0,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,to_go_2,delivery,opening_hours,website,phone,close,place_acquisition_date,file_name_1,file_name_2,New district
0,0,https://www.google.com.tw/maps/place...,黑曜麵屋,4.1,拉麵店,379.0,$,112台北市北投區尊賢街206巷2號,Plus Code: 4G85+47 北投區 台北市,1,1,0,1,星期二、11:00 到 21:00; 星期三、11:00 到 21:00...,https://www.facebook.com/Obsidianhouse/,0979 047 907,NaN,2022-11-22,0,0_黑曜麵屋,北投區
1,1,https://www.google.com.tw/maps/place...,樂山窄巷拉麵,4.1,拉麵店,1681.0,$$,112台北市北投區大同街27號,Plus Code: 4FMX+5J 北投區 台北市,1,1,0,0,星期二、11:00 到 14:30、17:00 到 20:30; 星期三...,https://www.facebook.com/rakuzan428/,02 2892 6265,NaN,2022-11-22,1,1_樂山窄巷,北投區

## Add column ,name "New Rating" ,define rating scope

In [7]:
dfFilter["New Rating"] = dfFilter["total_rating"].apply(lambda x : 1 if x<=1.5 else (2 if x<=2.5 else (3 if x<=3.5 else (4 if x<=4.5 else 5))))

In [8]:
# pd.set_option("display.max_rows",100)
dfFilter[["total_rating","New Rating"]].iloc[0:100,:]

    total_rating  New Rating
0            4.1           4
1            4.1           4
2            4.0           4
3            4.4           4
4            3.3           3
..           ...         ...
95           4.8           5
96           4.3           4
97           4.8           5
98           4.3           4
99           4.8           5

[100 rows x 2 columns]

In [9]:
dfFilter.head(2)

,Unnamed: 0,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,to_go_2,delivery,opening_hours,website,phone,close,place_acquisition_date,file_name_1,file_name_2,New district,New Rating
0,0,https://www.google.com.tw/maps/place...,黑曜麵屋,4.1,拉麵店,379.0,$,112台北市北投區尊賢街206巷2號,Plus Code: 4G85+47 北投區 台北市,1,1,0,1,星期二、11:00 到 21:00; 星期三、11:00 到 21:00...,https://www.facebook.com/Obsidianhouse/,0979 047 907,NaN,2022-11-22,0,0_黑曜麵屋,北投區,4
1,1,https://www.google.com.tw/maps/place...,樂山窄巷拉麵,4.1,拉麵店,1681.0,$$,112台北市北投區大同街27號,Plus Code: 4FMX+5J 北投區 台北市,1,1,0,0,星期二、11:00 到 14:30、17:00 到 20:30; 星期三...,https://www.facebook.com/rakuzan428/,02 2892 6265,NaN,2022-11-22,1,1_樂山窄巷,北投區,4

In [10]:
# lambda x : x*2 if x < 10 else (x*3 if x < 20 else x)

## Add column , name "New review", define review scope

In [11]:
dfFilter["New review"] = dfFilter["total_reviews"].apply(lambda x : "0-50" if x<=50 else ("51-200" if x<=200 else ("201-500" if x<=500 else ("501-1000" if x <=1000 else ("1001-2000" if x <= 2000 else ("2001-3000" if x <=3000 else "3001 up"))))))

In [12]:
dfFilter.head(2)

,Unnamed: 0,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,to_go_2,delivery,opening_hours,website,phone,close,place_acquisition_date,file_name_1,file_name_2,New district,New Rating,New review
0,0,https://www.google.com.tw/maps/place...,黑曜麵屋,4.1,拉麵店,379.0,$,112台北市北投區尊賢街206巷2號,Plus Code: 4G85+47 北投區 台北市,1,1,0,1,星期二、11:00 到 21:00; 星期三、11:00 到 21:00...,https://www.facebook.com/Obsidianhouse/,0979 047 907,NaN,2022-11-22,0,0_黑曜麵屋,北投區,4,201-500
1,1,https://www.google.com.tw/maps/place...,樂山窄巷拉麵,4.1,拉麵店,1681.0,$$,112台北市北投區大同街27號,Plus Code: 4FMX+5J 北投區 台北市,1,1,0,0,星期二、11:00 到 14:30、17:00 到 20:30; 星期三...,https://www.facebook.com/rakuzan428/,02 2892 6265,NaN,2022-11-22,1,1_樂山窄巷,北投區,4,1001-2000

In [13]:
# pd.set_option("display.max_rows",20)
dfFilter[["total_reviews","New review"]].iloc[0:100,:]

    total_reviews New review
0           379.0    201-500
1          1681.0  1001-2000
2           310.0    201-500
3           245.0    201-500
4           328.0    201-500
..            ...        ...
95          170.0     51-200
96          214.0    201-500
97          533.0   501-1000
98          206.0    201-500
99          512.0   501-1000

[100 rows x 2 columns]

## Count "eat_in" category

In [14]:
df1 = dfFilter[["place_category","eat_in"]][dfFilter["eat_in"]==1].groupby("place_category").size()
print(df1.describe())
print(" ")
print(df1[df1==3722]) # 最多可內用的類別為 "餐廳"
df1.iloc[0:100,]

count     234.000000
mean       92.782051
std       323.988475
min         1.000000
25%         3.000000
50%        12.000000
75%        53.750000
max      4074.000000
dtype: float64

Series([], dtype: int64)

place_category
三文治店      16
中式包點店     36
中式糕餅店      4
中式茶館      42
中式麵食店    507
        ...
朱古力店       4
東南亞餐廳     16
果汁店       55
柬埔寨餐廳      3
歐洲餐廳      10
Length: 100, dtype: int64

## Count can't "eat_in" category

In [15]:
df2 = dfFilter[["place_category","eat_in"]][dfFilter["eat_in"]==0].groupby("place_category").size()
print(df2.max())
print(" ")
print(df2[df2==687]) # 最多不可內用的類別為 "熟食店"
print(dfFilter[["place_category","place_name"]][dfFilter["place_category"]=="熟食店"][dfFilter["eat_in"]==0].iloc[0:100,])

768

Series([], dtype: int64)
     place_category        place_name
77              熟食店         利哥麻辣燙鴨血豆腐
265             熟食店           北投炸彈蔥油餅
325             熟食店               恩典湯
326             熟食店          陳季炸雞 北投店
327             熟食店      京城烤鴨石牌天母士林淡水
...             ...               ...
6084            熟食店              專一豆花
6101            熟食店  台灣第一家 塩酥雞 創始1983
6126            熟食店       胖老爹美式炸雞 大南店
6224            熟食店            竹子湖地瓜博
6333            熟食店      無名排隊手工地瓜球芋頭球

[100 rows x 2 columns]

C:\Users\mason89823\AppData\Local\Temp\ipykernel_20944\1230275820.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(dfFilter[["place_category","place_name"]][dfFilter["place_category"]=="熟食店"][dfFilter["eat_in"]==0].iloc[0:100,])

## columns 12 opening_hours

In [16]:
df12_1 = dfFilter["opening_hours"].fillna(value="0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0")  # 下面切割用';',不補0;0 切割會報錯
df12_1.head(2)  # 第10row有Nan

0    星期二、11:00 到 21:00; 星期三、11:00 到 21:00...
1    星期二、11:00 到 14:30、17:00 到 20:30; 星期三...
Name: opening_hours, dtype: object

In [17]:
# 他們在搞...,會 index out of range 所以要先改掉,格式錯誤
# print(list(df12_1)[5993])
# print(list(df12_1)[14255])
# print(list(df12_1)[15686])

In [18]:
# 補0代表原格式錯誤,或是本來是NaN
df12_1[5993] = "0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0"
df12_1[14255] = "0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0"
df12_1[15686] = "0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0"

In [19]:
# 原Series先用';'分割
pd.set_option("max_colwidth",999)
df12_2 = df12_1.str.split(';')
df12_2.head(2)

0                                                                                                      [星期二、11:00 到 21:00,  星期三、11:00 到 21:00,  星期四、11:00 到 21:00,  星期五、11:00 到 21:00,  星期六、11:00 到 21:00,  星期日、11:00 到 21:00,  星期一、11:00 到 21:00. 隱藏本週營業時間]
1    [星期二、11:00 到 14:30、17:00 到 20:30,  星期三、11:00 到 14:30、17:00 到 20:30,  星期四、11:00 到 14:30、17:00 到 20:30,  星期五、11:00 到 14:30、17:00 到 20:30,  星期六、11:00 到 14:15、17:00 到 20:30,  星期日、11:00 到 14:15、17:00 到 20:30,  星期一、11:00 到 14:30、17:00 到 20:30. 隱藏本週營業時間]
Name: opening_hours, dtype: object

In [20]:
# df12_1[df12_1.str.contains('24')][41]

In [62]:
# list(df12_2)

In [36]:
def check_business_hours(week_list):
    
    # 宣告為tuple，避免被改值
    one  = (1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1)
    zero = (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
    
    # 宣告變數存相對應的字串
    str_monday    = str([s for s in week_list if "星期一" in s])
    str_tuesday   = str([s for s in week_list if "星期二" in s])
    str_wednesday = str([s for s in week_list if "星期三" in s])
    str_thursday  = str([s for s in week_list if "星期四" in s])
    str_friday    = str([s for s in week_list if "星期五" in s])
    str_saturday  = str([s for s in week_list if "星期六" in s])
    str_sunday    = str([s for s in week_list if "星期日" in s])
        
    str_week = [str_monday,str_tuesday,str_wednesday,str_thursday,str_friday,str_saturday,str_sunday]
    
    openHour_0_1_list =[]
    listt = []
    
    for day in str_week:
        
        time = re.sub(r':\d\d','',day)
        time = re.findall(r'\d\d', time)
        time = list(map(int, time)) #str轉int
        
        if len(time) == 0:
            listt = list(zero)
            
        elif len(time) == 1:
            listt = list(one)
    
        elif len(time) > 1:
            
            # 晚上營業時間沒有跨日
            if time[-1] - time[0] > 0:
                listt = list(zero)
                
                if len(time) >= 2:
                    listt[time[0]:time[1]] = np.ones(time[1]-time[0])

                    if len(time) >= 4:
                        listt[time[2]:time[3]] = np.ones(abs(time[3]-time[2]))

                        if len(time) >= 6:
                            listt[time[4]:time[5]] = np.ones(time[5]-time[4])

                            if len(time) >= 8:
                                listt[time[6]:time[7]] = np.ones(time[7]-time[6])
           
        
            # 晚上營業時間跨日    
            if time[-1] - time[0] < 0:
                listt = list(one)
                
                if len(time) >= 2:
                    listt[time[-1]:time[0]] = np.zeros(abs(time[-1]-time[0]))

                    if len(time) >= 4:
                        listt[time[1]:time[2]] = np.zeros(abs(time[2]-time[1]))

                        if len(time) >= 6:
                            listt[time[3]:time[4]] = np.zeros(abs(time[4]-time[3]))

                            if len(time) >= 8:
                                listt[time[5]:time[6]] = np.zeros(abs(time[6]-time[5]))
            
        openHour_0_1_list.append(listt)
    return openHour_0_1_list

In [37]:
monday_openList    = []
tuesday_openList   = []
wednesday_openList = []
thursday_openList  = []
friday_openList    = []
saturday_openList  = []
sunday_openList    = []

for i in range(len(df12_2)):
    list_ = check_business_hours(df12_2[i])
    monday_openList.append(list_[0])
    tuesday_openList.append(list_[1])
    wednesday_openList.append(list_[2])
    thursday_openList.append(list_[3])
    friday_openList.append(list_[4])
    saturday_openList.append(list_[5])
    sunday_openList.append(list_[6])

dfFilter["Monday"]    = pd.Series(monday_openList)
dfFilter["Tuesday"]   = pd.Series(tuesday_openList)
dfFilter["Wednesday"] = pd.Series(wednesday_openList)
dfFilter["Thursday"]  = pd.Series(thursday_openList)
dfFilter["Friday"]    = pd.Series(friday_openList)
dfFilter["Saturday"]  = pd.Series(saturday_openList)
dfFilter["Sunday"]    = pd.Series(sunday_openList)

In [38]:
pd.set_option("max_colwidth",20)
dfFilter.head(2)

,Unnamed: 0,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,to_go_2,delivery,opening_hours,website,phone,close,place_acquisition_date,file_name_1,file_name_2,New district,New Rating,New review,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,0,https://www.goog...,黑曜麵屋,4.1,拉麵店,379.0,$,112台北市北投區尊賢街206巷2號,Plus Code: 4G85+...,1,1,0,1,星期二、11:00 到 21:0...,https://www.face...,0979 047 907,NaN,2022-11-22,0,0_黑曜麵屋,北投區,4,201-500,"[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ..."
1,1,https://www.goog...,樂山窄巷拉麵,4.1,拉麵店,1681.0,$$,112台北市北投區大同街27號,Plus Code: 4FMX+...,1,1,0,0,星期二、11:00 到 14:3...,https://www.face...,02 2892 6265,NaN,2022-11-22,1,1_樂山窄巷,北投區,4,1001-2000,"[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, ..."

In [40]:
pd.set_option("max_colwidth",100)
dfFilter["opening_hours"][12437]

'星期三、休息; 星期四、11:30 到 16:00、17:00 到 20:00; 星期五、11:30 到 16:00、17:00 到 20:00; 星期六、11:30 到 16:00、17:00 到 20:00; 星期日、11:30 到 16:00、17:00 到 20:00; 星期一、11:30 到 16:00、17:00 到 20:00; 星期二、11:30 到 16:00、17:00 到 20:00. 隱藏本週營業時間'

In [50]:
dfFilter["Wednesday"][12437]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [57]:
df = dfFilter.iloc[:,1:]
df.to_csv("Data/初步分析後的df/place_info_add_business_hours.csv",index = None)

## 切割"opening_hours" 並加到新的DataFrame "dfNew"

In [ ]:
# # 星期二的營業時間 開 和 關
# tuesdayListOpen_1  = []
# tuesdayListClose_1 = []
# tuesdayListOpen_2  = []
# tuesdayListClose_2 = []

# for i in range(len(list(df12_2))):
#     if len(list(df12_2)[i][0].split("、")) == 3:  # 有兩個開門時間
#         tuesdayListOpen_1.append(float(list(df12_2)[i][0].split("、")[1].split(" ")[0].split(":")[0]))
#         tuesdayListClose_1.append(float(list(df12_2)[i][0].split("、")[1].split(" ")[2].split(":")[0]))
#         tuesdayListOpen_2.append(float(list(df12_2)[i][0].split("、")[2].split(" ")[0].split(":")[0]))
#         tuesdayListClose_2.append(float(list(df12_2)[i][0].split("、")[2].split(" ")[2].split(":")[0]))
#     else:
#         if list(df12_2)[i][0].split("、")[1] == "休息":
#             tuesdayListOpen_1.append("999")
#             tuesdayListClose_1.append("999")
#             tuesdayListOpen_2.append("999")
#             tuesdayListClose_2.append("999")
#         elif list(df12_2)[i][0].split("、")[1] == "24 小時營業":
#             tuesdayListOpen_1.append("24")
#             tuesdayListClose_1.append("24")
#             tuesdayListOpen_2.append("24")
#             tuesdayListClose_2.append("24")
#         else: # 只有一個開門時間
#             tuesdayListOpen_1.append(float(list(df12_2)[i][0].split("、")[1].split(" ")[0].split(":")[0]))
#             tuesdayListClose_1.append(float(list(df12_2)[i][0].split("、")[1].split(" ")[2].split(":")[0]))      
#             tuesdayListOpen_2.append("999")
#             tuesdayListClose_2.append("999")
        
# tuesdayListOpen_1  = pd.Series(tuesdayListOpen_1)
# tuesdayListClose_1 = pd.Series(tuesdayListClose_1)
# tuesdayListOpen_2  = pd.Series(tuesdayListOpen_2)
# tuesdayListClose_2 = pd.Series(tuesdayListClose_2)

# dfNew = pd.DataFrame({"place_name":dfFilter["place_name"],"tuesdayListOpen_1":tuesdayListOpen_1,"tuesdayListClose_1":tuesdayListClose_1,"tuesdayListOpen_2":tuesdayListOpen_2,"tuesdayListClose_2":tuesdayListClose_2})
# dfNew

## 新增全為0的dataframe

In [ ]:
# import numpy as np

# arrZero = np.zeros((22883,24),dtype=int)
# dfZero = pd.DataFrame(arrZero,columns=["0-1","1-2","2-3","3-4","4-5","5-6","6-7","7-8","8-9","9-10","10-11","11-12","12-13","13-14","14-15","15-16","16-17","17-18","18-19","19-20","20-21","21-22","22-23","23-24"])
# dfZero

In [ ]:
# def check_time_open(x,i) :
#     if x == 24:
#         for j in range(24):
#             dfZero.iloc[i:i+1,j] = 1   
#     elif x == 23:
#         for j in range(23,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 22:
#         for j in range(22,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 21:
#         for j in range(21,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 20:
#         for j in range(20,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 19:
#         for j in range(19,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 18:
#         for j in range(18,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 17:
#         for j in range(17,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 16:
#         for j in range(16,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 15:
#         for j in range(15,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 14:
#         for j in range(14,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 13:
#         for j in range(13,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 12:
#         for j in range(12,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 11:
#         for j in range(11,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 10:
#         for j in range(10,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 9:
#         for j in range(9,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 8:
#         for j in range(8,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 7:
#         for j in range(7,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 6:
#         for j in range(6,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 5:
#         for j in range(5,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 4:
#         for j in range(4,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 3:
#         for j in range(3,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 2:
#         for j in range(2,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 1:
#         for j in range(1,24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 0:
#         for j in range(24):
#             dfZero.iloc[i:i+1,j] = 1
#     else:
#         pass

In [ ]:
# def check_time_close(x,i) :
#     if x == 24:
#         for j in range(24):
#             dfZero.iloc[i:i+1,j] = 1
#     elif x == 23:
#         for j in range(23,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 22:
#         for j in range(22,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 21:
#         for j in range(21,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 20:
#         for j in range(20,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 19:
#         for j in range(19,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 18:
#         for j in range(18,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 17:
#         for j in range(17,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 16:
#         for j in range(16,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 15:
#         for j in range(15,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 14:
#         for j in range(14,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 13:
#         for j in range(13,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 12:
#         for j in range(12,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 11:
#         for j in range(11,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 10:
#         for j in range(10,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 9:
#         for j in range(9,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 8:
#         for j in range(8,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 7:
#         for j in range(7,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 6:
#         for j in range(6,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 5:
#         for j in range(5,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 4:
#         for j in range(4,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 3:
#         for j in range(3,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 2:
#         for j in range(2,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 1:
#         for j in range(1,24):
#             dfZero.iloc[i:i+1,j] = 0
#     elif x == 0:
#         for j in range(24):
#             dfZero.iloc[i:i+1,j] = 0
#     else:
#         pass

In [ ]:
# # 星期二的營業時間 開 和 關
# for i in range(len(dfNew)):
#     x = int(dfNew["tuesdayListOpen_1"].iloc[i:i+1])
#     check_time_open(x,i)
#     x = int(dfNew["tuesdayListClose_1"].iloc[i:i+1])
#     check_time_close(x,i)
#     x = int(dfNew["tuesdayListOpen_2"].iloc[i:i+1])
#     check_time_open(x,i)
#     x = int(dfNew["tuesdayListClose_2"].iloc[i:i+1])
#     check_time_close(x,i)
# dfZero

## 新增"place_name" 至 dfZero 的第一行

In [ ]:
# # 把原columns name 存成list
# col_name = dfZero.columns.tolist()                     
# # 插入'place_name' list的第一個位子
# col_name.insert(0,'place_name')
# # 重新加入dataFrame
# dfZero = dfZero.reindex(columns=col_name)
# # 再賦值給place_name
# dfZero["place_name"] = dfFilter["place_name"]
# dfZero

## 清整完存成csv

In [ ]:
dfZero.to_csv('初步分析後的df/tuesday_business_hours.csv',index=None)

## columns 12 opening_hours	 測試用

In [ ]:
list(df12_2)

In [ ]:
# 一一檢查 dfFilter["opening_hours"] 哪rows格式錯誤
tuesdayList = []
for i in range(5993):
    tuesdayList.append(list(df12_2)[i][0].split('、')[1])

In [ ]:
# 一一檢查 dfFilter["opening_hours"] 哪rows格式錯誤
for i in range(5994,14255):
    tuesdayList.append(list(df12_2)[i][0].split('、')[1])

In [ ]:
# 一一檢查 dfFilter["opening_hours"] 哪rows格式錯誤
for i in range(14256,15686):
    tuesdayList.append(list(df12_2)[i][0].split('、')[1])

In [ ]:
# 一一檢查 dfFilter["opening_hours"] 哪rows格式錯誤
for i in range(15687,22883):
    tuesdayList.append(list(df12_2)[i][0].split('、')[1])

In [ ]:
# 為何不能用',' 分割 ? 
df12_3 = df12_2.str.split(",")

In [ ]:
dfFilter.columns

## 時間

In [ ]:
import pandas as pd
import re
import numpy as np

In [ ]:
str_weekday = '星期二、10:00 到 14:00、16:00 到 19:30; 星期三、10:00 到 14:00、16:00 到 19:30; 星期四、10:00 到 14:00、16:00 到 19:30; 星期五、10:00 到 14:00、16:00 到 19:30; 星期六、10:00 到 14:00、16:00 到 19:30; 星期日、休息; 星期一、10:00 到 14:00、16:00 到 02:30. 隱藏本週營業時間'

In [ ]:
week_list = str_weekday.split(';')
week_list

In [ ]:
str_monday = str([s for s in week_list if "星期一" in s])
str_tuesday = str([s for s in week_list if "星期二" in s])
str_wednesday = str([s for s in week_list if "星期三" in s])
str_thursday = str([s for s in week_list if "星期四" in s])
str_friday = str([s for s in week_list if "星期五" in s])
str_saturday = str([s for s in week_list if "星期六" in s])
str_sunday = str([s for s in week_list if "星期日" in s])

In [ ]:
time = re.sub(r':\d\d','',str_monday)
time = re.findall(r'\d\d', time)
time = list(map(int, time)) #str轉int
time

In [ ]:
one = [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
zero = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]

In [ ]:
if len(time) > 0:
    # 晚上營業時間沒有跨日
    if time[-1] - time[0] > 0:
        listt = zero
        if len(time) >= 2:
            listt[time[0]:time[1]] = np.ones(time[1]-time[0])
        if len(time) >= 4:
            listt[time[2]:time[3]] = np.ones(time[3]-time[2])

    #晚上營業時間跨日    
    if time[-1] - time[0] < 0:
        listt = one
        if len(time) >= 2:
            listt[time[2]:time[1]] = np.zeros(time[2]-time[1])
        if len(time) >= 4:
            listt[time[-1]:time[0]] = np.zeros(abs(time[-1]-time[0]))
        
listt