In [15]:
import pandas as pd
import re
import numpy as np

 ## 讀csv

In [16]:
df = pd.read_csv("attraction_info_final.csv")
df1 = pd.read_csv("night_attraction_place_info.csv",header=None)
df2 = pd.read_csv("night_market_place_info.csv",header=None)
df3 = pd.concat([df1,df2], axis="rows")

### 賦予columns name

In [18]:
df = df.iloc[:,1:]
df3 = df3.iloc[:,1:]

In [42]:
list_ = df.columns.to_list()[:18]
df3.columns = list_
df3

,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,to_go_2,delivery,opening_hour,website,phone,close,place_acquisition_date,file_name_1
0,https://www.google.com.tw/maps/place/%E6%96%87...,文化大學後山情人坡,4.4,旅遊景點,2151,NaN,111台北市士林區光華路61巷4弄33號,Plus Code: 4GMQ+JP 士林區 台北市,0,0,0,0,星期一、24 小時營業; 星期二、24 小時營業; 星期三、24 小時營業; 星期四、24 ...,http://www.pccu.edu.tw/,02 2861 0511,NaN,2022-12-12,a354
1,https://www.google.com.tw/maps/place/%E6%A8%9F...,樟山寺,4.4,佛寺,2073,NaN,116台北市文山區老泉街45巷29號,Plus Code: XHFH+6Q 文山區 台北市,0,0,0,0,NaN,http://wsdo.gov.taipei/ct.asp?xItem=37880&ctNo...,02 2939 8966,NaN,2022-12-12,a355
2,https://www.google.com.tw/maps/place/%E8%B1%A1...,象山六巨石觀景台,4.6,觀景台,2016,NaN,110台北市信義區,Plus Code: 2HGF+PQ 信義區 台北市,0,0,0,0,星期一、24 小時營業; 星期二、24 小時營業; 星期三、24 小時營業; 星期四、24 ...,NaN,02 2720 8889,NaN,2022-12-12,a356
3,https://www.google.com.tw/maps/place/%E5%85%A7...,內湖 碧山巖,4.6,觀景台,1543,NaN,114台北市內湖區碧山路,Plus Code: 3HWQ+Q3 內湖區 台北市,0,0,0,0,星期一、06:00 到 21:30; 星期二、06:00 到 21:30; 星期三、06:0...,https://www.pkcswt.com.tw/,02 2790 0657,NaN,2022-12-12,a357
4,https://www.google.com.tw/maps/place/%E5%8A%8D...,劍南山夜景,4.1,景點,2046,NaN,10491台北市中山區自強隧道181號,Plus Code: 3GQX+XX 中山區 台北市,0,0,0,0,星期一、24 小時營業; 星期二、24 小時營業; 星期三、24 小時營業; 星期四、24 ...,NaN,NaN,NaN,2022-12-12,a358
5,https://www.google.com.tw/maps/place/%E5%9B%9B...,四季長廊觀景台,4.6,旅遊景點,1822,NaN,112台北市北投區復興三路343號,Plus Code: 5G33+W7 北投區 台北市,0,0,0,0,星期一、24 小時營業; 星期二、24 小時營業; 星期三、24 小時營業; 星期四、24 ...,NaN,NaN,NaN,2022-12-12,a359
0,https://www.google.com.tw/maps/place/%E5%A3%AB...,士林夜市,4.0,夜市,7472,NaN,111台北市士林區文林路587巷101號,Plus Code: 3GQF+5M 士林區 台北市,0,0,0,0,星期一、16:00 到 00:00; 星期二、16:00 到 00:00; 星期三、16:0...,https://shi-lin-night-market.com.tw/,02 2881 5557,NaN,2022-12-12,a350
1,https://www.google.com.tw/maps/place/%E5%B8%AB...,師大夜市,4.0,夜市,17628,NaN,106台北市大安區師大路39巷,Plus Code: 2GFH+RP 大安區 台北市,0,0,0,0,星期一、16:00 到 23:00; 星期二、16:00 到 23:00; 星期三、16:0...,https://facebook.com/pages/%E5%B8%AB%E5%A4%A7%...,0901 111 319,NaN,2022-12-12,a351
2,https://www.google.com.tw/maps/place/%E8%A5%BF...,西門町徒步區,4.3,旅遊景點,8425,NaN,108台北市萬華區漢中街50巷9號,Plus Code: 2GV4+JW 萬華區 台北市,0,0,0,0,星期一、24 小時營業; 星期二、24 小時營業; 星期三、24 小時營業; 星期四、24 ...,NaN,02 2375 4205,NaN,2022-12-12,a352
3,https://www.google.com.tw/maps/place/%E6%B0%B8...,永康街商圈,4.2,旅遊景點,663,NaN,106台北市大安區永康街,Plus Code: 2GJH+8R 大安區 台北市,0,0,0,0,星期一、24 小時營業; 星期二、24 小時營業; 星期三、24 小時營業; 星期四、24 ...,http://www.taipeiyongkang.com.tw/index.html,02 2351 5793,NaN,2022-12-12,a353

In [20]:
df4 = pd.concat([df,df3], axis="rows")
df4.tail()

,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,to_go_2,delivery,opening_hour,website,phone,close,place_acquisition_date,file_name_1
5,https://www.google.com.tw/maps/place/%E5%9B%9B...,四季長廊觀景台,4.6,旅遊景點,1822.0,NaN,112台北市北投區復興三路343號,Plus Code: 5G33+W7 北投區 台北市,0,0,0,0,星期一、24 小時營業; 星期二、24 小時營業; 星期三、24 小時營業; 星期四、24 ...,NaN,NaN,NaN,2022-12-12,a359
0,https://www.google.com.tw/maps/place/%E5%A3%AB...,士林夜市,4.0,夜市,7472.0,NaN,111台北市士林區文林路587巷101號,Plus Code: 3GQF+5M 士林區 台北市,0,0,0,0,星期一、16:00 到 00:00; 星期二、16:00 到 00:00; 星期三、16:0...,https://shi-lin-night-market.com.tw/,02 2881 5557,NaN,2022-12-12,a350
1,https://www.google.com.tw/maps/place/%E5%B8%AB...,師大夜市,4.0,夜市,17628.0,NaN,106台北市大安區師大路39巷,Plus Code: 2GFH+RP 大安區 台北市,0,0,0,0,星期一、16:00 到 23:00; 星期二、16:00 到 23:00; 星期三、16:0...,https://facebook.com/pages/%E5%B8%AB%E5%A4%A7%...,0901 111 319,NaN,2022-12-12,a351
2,https://www.google.com.tw/maps/place/%E8%A5%BF...,西門町徒步區,4.3,旅遊景點,8425.0,NaN,108台北市萬華區漢中街50巷9號,Plus Code: 2GV4+JW 萬華區 台北市,0,0,0,0,星期一、24 小時營業; 星期二、24 小時營業; 星期三、24 小時營業; 星期四、24 ...,NaN,02 2375 4205,NaN,2022-12-12,a352
3,https://www.google.com.tw/maps/place/%E6%B0%B8...,永康街商圈,4.2,旅遊景點,663.0,NaN,106台北市大安區永康街,Plus Code: 2GJH+8R 大安區 台北市,0,0,0,0,星期一、24 小時營業; 星期二、24 小時營業; 星期三、24 小時營業; 星期四、24 ...,http://www.taipeiyongkang.com.tw/index.html,02 2351 5793,NaN,2022-12-12,a353

### 重新編排index

In [21]:
df = df4.reset_index(drop = True)
df.head()

,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,to_go_2,delivery,opening_hour,website,phone,close,place_acquisition_date,file_name_1
0,https://www.google.com.tw/maps/place/%E5%A4%A7...,大稻埕碼頭貨櫃市集,4.5,旅遊景點,1834.0,NaN,103台北市大同區,Plus Code: 3G44+FX 大同區 台北市,0,0,0,0,星期三、16:00 到 00:00; 星期四、16:00 到 00:00; 星期五、16:0...,https://www.facebook.com/M.DaDaoCheng/,NaN,NaN,2022-11-23,a0
1,https://www.google.com.tw/maps/place/%E9%97%9C...,關渡碼頭,4.3,渡輪碼頭,171.0,NaN,112台北市北投區,Plus Code: 4FC6+66 北投區 台北市,0,0,0,0,NaN,http://taiwan.net.tw/m1.aspx?sNo=0001090&id=34173,NaN,NaN,2022-11-23,a1
2,https://www.google.com.tw/maps/place/%E5%A4%A7...,大佳碼頭,4.3,海港,10.0,NaN,10491台北市中山區,NaN,0,0,0,0,NaN,NaN,NaN,NaN,2022-11-23,a2
3,https://www.google.com.tw/maps/place/%E9%87%91...,金色水岸自行車道,4.3,單車公園,255.0,NaN,251新北市淡水區,Plus Code: 4FG6+3F 淡水區 新北市,0,0,0,0,星期三、24 小時營業; 星期四、24 小時營業; 星期五、24 小時營業; 星期六、24 ...,https://tour.ntpc.gov.tw/zh-tw/Attraction/Deta...,NaN,NaN,2022-11-23,a3
4,https://www.google.com.tw/maps/place/%E9%9B%99...,雙溪河濱公園,4.2,公園,4849.0,NaN,111台北市士林區福林路,Plus Code: 3GXH+X6 士林區 台北市,0,0,0,0,星期三、24 小時營業; 星期四、24 小時營業; 星期五、24 小時營業; 星期六、24 ...,https://heo.gov.taipei/News_Content.aspx?n=E65...,NaN,NaN,2022-11-23,a4

### Add columns , name "opening_hours", define "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"

In [22]:
df_1 = df["opening_hour"].fillna(value="0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0;0、999:0 到 999:0")  # 下面切割用';',不補0;0 切割會報錯

In [23]:
# 原Series先用';'分割
df_1 = df_1.str.split(';')
df_1.head(2)

0    [星期三、16:00 到 00:00,  星期四、16:00 到 00:00,  星期五、1...
1    [0、999:0 到 999:0, 0、999:0 到 999:0, 0、999:0 到 9...
Name: opening_hour, dtype: object

In [24]:
def check_business_hours(week_list):
    
    # 宣告為tuple，避免被改值
    one  = (1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1)
    zero = (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
    
    # 宣告變數存相對應的字串
    str_monday    = str([s for s in week_list if "星期一" in s])
    str_tuesday   = str([s for s in week_list if "星期二" in s])
    str_wednesday = str([s for s in week_list if "星期三" in s])
    str_thursday  = str([s for s in week_list if "星期四" in s])
    str_friday    = str([s for s in week_list if "星期五" in s])
    str_saturday  = str([s for s in week_list if "星期六" in s])
    str_sunday    = str([s for s in week_list if "星期日" in s])
        
    str_week = [str_monday,str_tuesday,str_wednesday,str_thursday,str_friday,str_saturday,str_sunday]
    
    openHour_0_1_list =[]
    listt = []
    
    for day in str_week:
        
        time = re.sub(r':\d\d','',day)
        time = re.findall(r'\d\d', time)
        time = list(map(int, time)) #str轉int
        
        if len(time) == 0:
            listt = list(zero)
            
        elif len(time) == 1:
            listt = list(one)
    
        elif len(time) > 1:
            
            # 晚上營業時間沒有跨日
            if time[-1] - time[0] > 0:
                listt = list(zero)
                
                if len(time) >= 2:
                    listt[time[0]:time[1]] = np.ones(time[1]-time[0])

                    if len(time) >= 4:
                        listt[time[2]:time[3]] = np.ones(abs(time[3]-time[2]))

                        if len(time) >= 6:
                            listt[time[4]:time[5]] = np.ones(time[5]-time[4])

                            if len(time) >= 8:
                                listt[time[6]:time[7]] = np.ones(time[7]-time[6])
           
        
            # 晚上營業時間跨日    
            if time[-1] - time[0] < 0:
                listt = list(one)
                
                if len(time) >= 2:
                    listt[time[-1]:time[0]] = np.zeros(abs(time[-1]-time[0]))

                    if len(time) >= 4:
                        listt[time[1]:time[2]] = np.zeros(abs(time[2]-time[1]))

                        if len(time) >= 6:
                            listt[time[3]:time[4]] = np.zeros(abs(time[4]-time[3]))

                            if len(time) >= 8:
                                listt[time[5]:time[6]] = np.zeros(abs(time[6]-time[5]))
            
        openHour_0_1_list.append(listt)
    return openHour_0_1_list

In [25]:
monday_openList    = []
tuesday_openList   = []
wednesday_openList = []
thursday_openList  = []
friday_openList    = []
saturday_openList  = []
sunday_openList    = []

for i in range(len(df_1)):
    list_ = check_business_hours(df_1[i])
    monday_openList.append(list_[0])
    tuesday_openList.append(list_[1])
    wednesday_openList.append(list_[2])
    thursday_openList.append(list_[3])
    friday_openList.append(list_[4])
    saturday_openList.append(list_[5])
    sunday_openList.append(list_[6])

df["Monday"]    = pd.Series(monday_openList)
df["Tuesday"]   = pd.Series(tuesday_openList)
df["Wednesday"] = pd.Series(wednesday_openList)
df["Thursday"]  = pd.Series(thursday_openList)
df["Friday"]    = pd.Series(friday_openList)
df["Saturday"]  = pd.Series(saturday_openList)
df["Sunday"]    = pd.Series(sunday_openList)

In [26]:
df.head(2)

,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,...,close,place_acquisition_date,file_name_1,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,https://www.google.com.tw/maps/place/%E5%A4%A7...,大稻埕碼頭貨櫃市集,4.5,旅遊景點,1834.0,NaN,103台北市大同區,Plus Code: 3G44+FX 大同區 台北市,0,0,...,NaN,2022-11-23,a0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,https://www.google.com.tw/maps/place/%E9%97%9C...,關渡碼頭,4.3,渡輪碼頭,171.0,NaN,112台北市北投區,Plus Code: 4FC6+66 北投區 台北市,0,0,...,NaN,2022-11-23,a1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

## Add column ,name "New district"

In [27]:
df["New district"] = df["district"].str.split(" ").str.get(3)
df.head(2)

,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,...,place_acquisition_date,file_name_1,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,New district
0,https://www.google.com.tw/maps/place/%E5%A4%A7...,大稻埕碼頭貨櫃市集,4.5,旅遊景點,1834.0,NaN,103台北市大同區,Plus Code: 3G44+FX 大同區 台北市,0,0,...,2022-11-23,a0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",大同區
1,https://www.google.com.tw/maps/place/%E9%97%9C...,關渡碼頭,4.3,渡輪碼頭,171.0,NaN,112台北市北投區,Plus Code: 4FC6+66 北投區 台北市,0,0,...,2022-11-23,a1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",北投區

## Add column ,name "New Rating" ,define rating scope

In [28]:
df["New Rating"] = df["total_rating"].apply(lambda x : 1 if x<=1.5 else (2 if x<=2.5 else (3 if x<=3.5 else (4 if x<=4.5 else 5))))

In [29]:
df.head(2)

,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,...,file_name_1,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,New district,New Rating
0,https://www.google.com.tw/maps/place/%E5%A4%A7...,大稻埕碼頭貨櫃市集,4.5,旅遊景點,1834.0,NaN,103台北市大同區,Plus Code: 3G44+FX 大同區 台北市,0,0,...,a0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",大同區,4
1,https://www.google.com.tw/maps/place/%E9%97%9C...,關渡碼頭,4.3,渡輪碼頭,171.0,NaN,112台北市北投區,Plus Code: 4FC6+66 北投區 台北市,0,0,...,a1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",北投區,4

## Add column , name "New review", define review scope

In [30]:
df["New review"] = df["total_reviews"].apply(lambda x : "0-50" if x<=50 else ("51-200" if x<=200 else ("201-500" if x<=500 else ("501-1000" if x <=1000 else ("1001-2000" if x <= 2000 else ("2001-3000" if x <=3000 else "3001 up"))))))

In [31]:
df.head(2)

,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,...,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,New district,New Rating,New review
0,https://www.google.com.tw/maps/place/%E5%A4%A7...,大稻埕碼頭貨櫃市集,4.5,旅遊景點,1834.0,NaN,103台北市大同區,Plus Code: 3G44+FX 大同區 台北市,0,0,...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",大同區,4,1001-2000
1,https://www.google.com.tw/maps/place/%E9%97%9C...,關渡碼頭,4.3,渡輪碼頭,171.0,NaN,112台北市北投區,Plus Code: 4FC6+66 北投區 台北市,0,0,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",北投區,4,51-200

## Add columns "latitude" , "longitude"

In [32]:
df1 = df["google_url"].str.findall("\d{2,}\.\d*")
df1

0      [23.546162, 120.6402133, 25.0561339, 121.5074245]
1      [23.546162, 120.6402133, 25.1206151, 121.4605922]
2      [23.546162, 120.6402133, 25.0761837, 121.5374097]
3        [23.546162, 120.6402133, 25.125148, 121.461198]
4        [23.546162, 120.6402133, 25.099919, 121.528024]
                             ...
352    [25.1548364, 121.5010472, 25.1548316, 121.5032...
353                            [25.0879869, 121.5242024]
354                             [25.0245419, 121.529366]
355                             [25.044043, 121.5073209]
356                            [25.0308076, 121.5295769]
Name: google_url, Length: 357, dtype: object

In [33]:
df1 = df1.apply(pd.Series)
df1

              0            1           2            3
0     23.546162  120.6402133  25.0561339  121.5074245
1     23.546162  120.6402133  25.1206151  121.4605922
2     23.546162  120.6402133  25.0761837  121.5374097
3     23.546162  120.6402133   25.125148   121.461198
4     23.546162  120.6402133   25.099919   121.528024
..          ...          ...         ...          ...
352  25.1548364  121.5010472  25.1548316  121.5032359
353  25.0879869  121.5242024         NaN          NaN
354  25.0245419   121.529366         NaN          NaN
355   25.044043  121.5073209         NaN          NaN
356  25.0308076  121.5295769         NaN          NaN

[357 rows x 4 columns]

In [34]:
df["latitude"] = df1.loc[:,0]
df["longitude"] = df1.loc[:,1]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   google_url              357 non-null    object
 1   place_name              357 non-null    object
 2   total_rating            357 non-null    float64
 3   place_category          357 non-null    object
 4   total_reviews           357 non-null    float64
 5   cost                    48 non-null     object
 6   address                 357 non-null    object
 7   district                354 non-null    object
 8   eat_in                  357 non-null    int64
 9   to_go_1                 357 non-null    int64
 10  to_go_2                 357 non-null    int64
 11  delivery                357 non-null    int64
 12  opening_hour            297 non-null    object
 13  website                 300 non-null    object
 14  phone                   281 non-null    object
 15  close                   0 non-null      float64
 16  place_acquisition_date  357 non-null    object
 17  file_name_1             357 non-null    object
 18  Monday                  357 non-null    object
 19  Tuesday                 357 non-null    object
 20  Wednesday               357 non-null    object
 21  Thursday                357 non-null    object
 22  Friday                  357 non-null    object
 23  Saturday                357 non-null    object
 24  Sunday                  357 non-null    object
 25  New district            354 non-null    object
 26  New Rating              357 non-null    int64
 27  New review              357 non-null    object
 28  latitude                357 non-null    object
 29  longitude               357 non-null    object
dtypes: float64(3), int64(5), object(22)
memory usage: 83.8+ KB

## 更改類別

In [43]:
dfClass = pd.read_csv("景點類別 - 工作表2.csv")
dfClass.head(2)

,Unnamed: 0,google_url,place_name,total_rating,Unnamed: 4,total_reviews,cost,address,district,eat_in,...,opening_hour,website,phone,close,place_acquisition_date,file_name_1,分類,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,0,https://www.google.com.tw/maps/place/%E5%A4%A7...,大稻埕碼頭貨櫃市集,4.5,NaN,1834.0,NaN,103台北市大同區,Plus Code: 3G44+FX 大同區 台北市,0.0,...,星期三、16:00 到 00:00; 星期四、16:00 到 00:00; 星期五、16:0...,https://www.facebook.com/M.DaDaoCheng/,NaN,NaN,2022-11-23,a0,渡輪碼頭,NaN,NaN,渡輪碼頭
1,1,https://www.google.com.tw/maps/place/%E9%97%9C...,關渡碼頭,4.3,NaN,171.0,NaN,112台北市北投區,Plus Code: 4FC6+66 北投區 台北市,0.0,...,NaN,http://taiwan.net.tw/m1.aspx?sNo=0001090&id=34173,NaN,NaN,2022-11-23,a1,渡輪碼頭,NaN,NaN,公園

In [ ]:
pd.set_option("display.max_columns",40)

In [44]:
dfClass[["place_name","分類"]]

    place_name    分類
0    大稻埕碼頭貨櫃市集  渡輪碼頭
1         關渡碼頭  渡輪碼頭
2         大佳碼頭  渡輪碼頭
3     金色水岸自行車道   NaN
4       雙溪河濱公園    公園
..         ...   ...
352    四季長廊觀景台    夜景
353       士林夜市    夜市
354       師大夜市    夜市
355     西門町徒步區    夜市
356      永康街商圈    夜市

[357 rows x 2 columns]

In [45]:
dfClass1 = dfClass.loc[:,"分類"]
dfClass1

0      渡輪碼頭
1      渡輪碼頭
2      渡輪碼頭
3       NaN
4        公園
       ...
352      夜景
353      夜市
354      夜市
355      夜市
356      夜市
Name: 分類, Length: 357, dtype: object

In [46]:
df["New place_category"] = dfClass1

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   google_url              357 non-null    object
 1   place_name              357 non-null    object
 2   total_rating            357 non-null    float64
 3   place_category          357 non-null    object
 4   total_reviews           357 non-null    float64
 5   cost                    48 non-null     object
 6   address                 357 non-null    object
 7   district                354 non-null    object
 8   eat_in                  357 non-null    int64
 9   to_go_1                 357 non-null    int64
 10  to_go_2                 357 non-null    int64
 11  delivery                357 non-null    int64
 12  opening_hour            297 non-null    object
 13  website                 300 non-null    object
 14  phone                   281 non-null    object
 15  close                   0 non-null      float64
 16  place_acquisition_date  357 non-null    object
 17  file_name_1             357 non-null    object
 18  Monday                  357 non-null    object
 19  Tuesday                 357 non-null    object
 20  Wednesday               357 non-null    object
 21  Thursday                357 non-null    object
 22  Friday                  357 non-null    object
 23  Saturday                357 non-null    object
 24  Sunday                  357 non-null    object
 25  New district            354 non-null    object
 26  New Rating              357 non-null    int64
 27  New review              357 non-null    object
 28  latitude                357 non-null    object
 29  longitude               357 non-null    object
 30  New place_category      305 non-null    object
dtypes: float64(3), int64(5), object(23)
memory usage: 86.6+ KB

In [48]:
df = df[~df["New place_category"].isna()]

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305 entries, 0 to 356
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   google_url              305 non-null    object
 1   place_name              305 non-null    object
 2   total_rating            305 non-null    float64
 3   place_category          305 non-null    object
 4   total_reviews           305 non-null    float64
 5   cost                    40 non-null     object
 6   address                 305 non-null    object
 7   district                302 non-null    object
 8   eat_in                  305 non-null    int64
 9   to_go_1                 305 non-null    int64
 10  to_go_2                 305 non-null    int64
 11  delivery                305 non-null    int64
 12  opening_hour            253 non-null    object
 13  website                 261 non-null    object
 14  phone                   243 non-null    object
 15  close                   0 non-null      float64
 16  place_acquisition_date  305 non-null    object
 17  file_name_1             305 non-null    object
 18  Monday                  305 non-null    object
 19  Tuesday                 305 non-null    object
 20  Wednesday               305 non-null    object
 21  Thursday                305 non-null    object
 22  Friday                  305 non-null    object
 23  Saturday                305 non-null    object
 24  Sunday                  305 non-null    object
 25  New district            302 non-null    object
 26  New Rating              305 non-null    int64
 27  New review              305 non-null    object
 28  latitude                305 non-null    object
 29  longitude               305 non-null    object
 30  New place_category      305 non-null    object
dtypes: float64(3), int64(5), object(23)
memory usage: 76.2+ KB

In [50]:
df[df["New district"].isna()]

,google_url,place_name,total_rating,place_category,total_reviews,cost,address,district,eat_in,to_go_1,...,Thursday,Friday,Saturday,Sunday,New district,New Rating,New review,latitude,longitude,New place_category
2,https://www.google.com.tw/maps/place/%E5%A4%A7...,大佳碼頭,4.3,海港,10.0,NaN,10491台北市中山區,NaN,0,0,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN,4,0-50,23.546162,120.6402133,渡輪碼頭
75,https://www.google.com.tw/maps/place/%E5%BD%A9...,彩虹碼頭,4.2,海港,14.0,NaN,105台北市松山區,NaN,0,0,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN,4,0-50,23.546162,120.6402133,渡輪碼頭
171,https://www.google.com.tw/maps/place/%E5%A4%A2...,夢幻湖,4.4,季節性湖泊,132.0,NaN,112台北市北投區,NaN,0,0,...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN,4,51-200,23.546162,120.6402133,風景區

In [51]:
df.loc[2,"New district"] = "中山區"
df.loc[75,"New district"] = "松山區"
df.loc[171,"New district"] = "北投區"

In [52]:
df[df["New district"].isna()]

Empty DataFrame
Columns: [google_url, place_name, total_rating, place_category, total_reviews, cost, address, district, eat_in, to_go_1, to_go_2, delivery, opening_hour, website, phone, close, place_acquisition_date, file_name_1, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday, New district, New Rating, New review, latitude, longitude, New place_category]
Index: []

[0 rows x 31 columns]

## 清整完存成csv

In [53]:
df.to_csv('attraction_info_final.csv',index=None)